html, body, body > .ember-view {
  margin: 0;
  height: 100%;
}

#header, #footer {
  height: 10%;
  color: #FFFFFF;
  background-color: #00CC66;
  font-size: 32px;
}

#landing {
  margin: 0% 25%; 
}

#landing > #login {
  padding-top: 10%;
  padding-right: 10%;
}

#landing > #registration {
  padding-top: 10%;
  padding-left: 10%;
}

.height-100 {
  height: 100%;
}

.height-80 {
  height: 80%; 
}

.logo {
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Lobster', cursive;
}

.menu {
  padding: 16px;
  float: right;
}

.map-canvas {
  width: 100%;
  height: 100%;
}
