<div id="login">
  <h1>Login Template</h1>
  <form {{action "loginUser" on="submit"}}>
    {{input type="text" value=email placeholder="Email"}}
    {{input type="password" value=password placeholder="Password"}}
    <button type="submit">Login</button>
  </form>
  {{#link-to "registration"}}Register?{{/link-to}}
</div>
