<div id="registration">
  <h1>Registration Template</h1>
  <form {{action "createAndLoginUser" on="submit"}}>
    {{input type="text" value=email placeholder="Email"}}
    {{input type="password" value=password placeholder="Password"}}
    <button type="submit">Register</button>
  </form>
</div>
